{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "arrow-body-style": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "react/no-typos": 0,
    "react/require-default-props": 0,
    "no-unused-expressions": 0,
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/destructuring-assignment": 0,
    "react/sort-comp": 0,
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": "warn"
  },
  "ignorePatterns": [
    "example/**/*.js"
  ],
  "plugins": [
    "react",
    "jest"
  ],
  "overrides": [
    {
      "files": [ "**/*.ts", "**/*.tsx" ],
      "extends": [ "plugin:@typescript-eslint/recommended" ]
    }
  ]
}